<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Is it spring yet?</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css" />
	</head>
	<body class="<%= @hemisphere %>">
		<h1><%= @spring %></h1>
		<p>Hemisphere: <a href="/n" class="n">Northern</a> -or- <a href="/s" class="s">Southern</a></p>		
	</body>
</html>